@font-face {
  font-family: futura;
  src: url(./Assets/Futura\ Black.ttf);
}
@font-face {
  font-family: futura1;
  src: url(./Assets/Futura\ Black\ Regular.otf);
}

@font-face {
  font-family: hiragino;
  src: url(./Assets/Hiragino\ Sans\ GB\ W05\ W4.otf);
}

* {
  text-decoration: none;
  font-family: hiragino;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.navbar {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.logo {
  height: 80px;
  width: 170px;
}

.hlist {
  display: inline-block;
  font-size: large;
}

#hlist {
  display: flex !important;
  gap: 25px;
  margin: auto auto;
}

.hlist a {
  text-decoration: none;
}
li a {
  color: white;
}

.content {
  display: flex;
  gap: 25px;
  align-items: center !important;
}

.btn1 {
  height: 50px;
  width: 140px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 30px;
  margin: 10px;
  font-size: smaller;
}

.btn2 {
  height: 50px;
  width: 150px;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  font-size: smaller;
}

.icon {
  font-size: 30px;
}

.contentsec {
  background-color: black;
}
.main {
  height: 100%;
  width: 100%;
}

.data {
  height: max-content;
  background-color: black;
  margin: 0px;
  padding: 5px;
}

.write {
  height: max-content;
  width: max-content;
  text-align: center;
  margin: 50px auto;
  color: white;
  line-height: 25px;
  text-wrap: wrap;
}

.image {
  height: max-content;
  width: max-content;
  margin: 20px auto;
}

.logo1 {
  height: max-content;
  width: 260px;
  margin: 10px;
  /* float: left; */
}

.sec {
  background-color: black;
  margin: 0px;
}
.cards {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.log1 {
  background-image: url(./Assets/Restaurant.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 250px;
  border-radius: 5px;
}

.log2 {
  background-image: url(./Assets/express.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 250px;
  border-radius: 5px;
}

.log3 {
  background-image: url(./Assets/Village.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 250px;
  border-radius: 5px;
}

img {
  height: 250px;
  width: 300px;
}

.orderbtn {
  height: 40px;
  width: 160px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 30px;
  font-size: smaller;
}

.btn0 {
  height: max-content;
  width: max-content;
  margin: 30px auto 0px auto;
}

.head {
  font-size: 40px;
}

h1 span {
  font-family: futura1;
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: large;
  color: gray;
}

.franchisediv {
  height: max-content;
  background-color: #141313;
  margin: 0px;
  padding: 5px;
}

.contentdiv {
  height: max-content;
  width: max-content;
  text-align: center;
  color: white;
  margin: 0px auto;
  line-height: 20px;
}

.head1 {
  font-family: futura1;
  font-size: 70px;
}
.para {
  color: white;
}

.location {
  display: flex;
  margin: 50px auto;
  height: max-content;
  width: max-content;
}

.location2 {
  display: flex;
  margin: 50px auto;
  height: max-content;
  width: max-content;
  flex-direction: row-reverse;
}

.locdata {
  height: 300px;
  width: 550px;
}

.locdata2 {
  height: 300px;
  width: 550px;
  margin: 0px 30px;
}

.locimg1 {
  height: 300px;
  width: 550px;
  margin: 0px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./Assets/islamabad.webp);
}

.locimg2 {
  height: 300px;
  width: 550px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./Assets/fsl.webp);
}

.locimg3 {
  height: 300px;
  width: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./Assets/bwl.webp);
}

.logbtn {
  height: 50px;
  width: 140px;
  color: white;
  background-color: #141313;
  border: 1px solid white;
  border-radius: 30px;
  margin-top: 40px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  padding-left: 10px;
  font-size: smaller;
}

.icon1 {
  font-size: 20px;
}
.arrow {
  color: white;
  background-color: red;
  border-radius: 50%;
}

.locname {
  font-size: 30px;
  color: white;
  margin-right: 5px;
  margin-top: 0px;
  line-height: 2px;
}

.name {
  line-height: 20px;
  margin-bottom: 40px;
}

.add {
  font-size: 15px;
  line-height: 10px;
}

.phone {
  font-size: 15px;
  line-height: 0px;
}

.restaurant {
  color: white;
  font-weight: lighter;
  font-size: x-large;
}

.loc {
  color: red;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: medium;
}

.branchdiv {
  height: max-content;
  background-color: black;
  margin: 0px;
  padding: 5px;
}

.contentdiv2 {
  height: max-content;
  width: max-content;
  text-align: center;
  color: white;
  margin: 0px auto;
  line-height: 20px;
}

.locationddatae {
  margin: 10px;
}

.locimge1 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/em.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loce {
  color: red;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 12px;
}

.express {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}
.locnamee {
  font-size: 25px;
  color: white;
  margin-right: 5px;
  margin-top: 0px;
  line-height: 2px;
}

.adde {
  font-size: 12px;
  line-height: 25px;
}

.phonee {
  font-size: 12px;
  line-height: 50px;
}

.expressloc {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.locatione {
  height: 500px;
  width: 330px;
  margin: 15px auto;
  text-align: center;
  gap: 25px;
}

.logbtne {
  height: 50px;
  width: 140px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 30px;
  margin-top: 15px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  padding-left: 10px;
  font-size: smaller;
}

.locimge2 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/eguj.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locimge3 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/esar.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locimge4 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/ejhe.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locimge5 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/efai.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locimge6 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/edha.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locimge7 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/ebt.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locimge8 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/egk.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locimge9 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/el.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locimge10 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/egujra.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locimge11 {
  height: 250px;
  width: 330px;
  background-image: url(./Assets/esah.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.vbranch {
  height: max-content;
  margin: 0px auto;
  padding: 20px;
  background-color: #141313;
}

.vcontentdiv {
  height: max-content;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 20px auto;
}

.vlocimg {
  height: 400px;
  width: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./Assets/vgujar.webp);
}

.village {
  color: white;
  font-size: x-large;
}
.vlocation {
  display: flex;
  height: 400px;
  width: 750px;
}

.vloc {
  color: red;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.vlocname {
  font-size: 30px;
}

.addp {
  line-height: 5px;
  margin-top: 40px;
}

.vadd {
  font-size: 15px;
}

.vphone {
  font-size: 15px;
}

.vlogbtn {
  height: 50px;
  width: 160px;
  color: white;
  background-color: #1e9c2f;
  border: 1px solid #1e9c2f;
  border-radius: 30px;
  margin-top: 60px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  padding-left: 15px;
  font-size: smaller;
}

.vicon {
  font-size: 30px;
  background-color: #1e9c2f;
}

.varrow {
  color: white;
  background-color: #1e9c2f;
  border-radius: 50%;
}

.comingsoondiv {
  height: max-content;
}

.cs {
  font-size: 20px;
}

.locationdiv {
  height: max-content;
  width: 80%;
  color: black;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px auto;
  justify-content: center;
}

.loccard {
  background-color: white;
  height: 250px;
  width: 350px;
  padding: 10px;
  border-radius: 5px;
}

.cardimg {
  background-image: url(./Assets/loc.webp);
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 20px auto;
}

.cardcontent {
  text-align: center;
  height: 150px;
  width: 250px;
  margin: 10px auto;
}

.os {
  font-size: 10px;
  color: red;
  letter-spacing: 10px;
}

.sp {
  font-size: 20px;
}

.snp {
  font-family: futura1;
  font-size: 25px;
}

.social {
  height: max-content;
  background-color: black;
  padding: 50px;
}

.hwhite {
  font-size: 30px;
  color: white;
  text-align: center;
}

.socialpost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.socialimg1 {
  height: 260px;
  width: 260px;
  background-image: url(./Assets/c1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.socialimg2 {
  height: 260px;
  width: 260px;
  background-image: url(./Assets/c2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.socialimg3 {
  height: 260px;
  width: 260px;
  background-image: url(./Assets/c3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.socialimg4 {
  height: 260px;
  width: 260px;
  background-image: url(./Assets/c4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.socialimg5 {
  height: 260px;
  width: 260px;
  background-image: url(./Assets/c5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #141313;
  height: max-content;
}

.desclogo {
  background-image: url(./Assets/Logo.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  width: 170px;
}

.flist {
  list-style-type: none;
}

.flist a {
  text-decoration: none;
  line-height: 30px;
  color: grey;
}

.sbtn {
  margin: 20px 0px;
}

.sbtns {
  background-color: red;
  color: white;
  font-size: x-large;
  border: 1px solid red;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 2px;
}

.appimg1 {
  background-image: url(./Assets/as.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 170px;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 10px;
}

.appimg2 {
  background-image: url(./Assets/gp.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 170px;
  border-radius: 5px;
  border: 1px solid white;
}

.white {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

address {
  color: gray;
  font-size: small;
}

p a {
  text-decoration: none;
  color: grey;
  font-size: small;
}

.descp {
  font-size: small;
  margin-top: 30px;
}

.desc {
  height: 400px;
  width: 280px;
}

.cta {
  height: 400px;
  width: 280px;
}

.sitelink {
  height: 400px;
  width: 280px;
}

.followus {
  height: 400px;
  width: 280px;
}

.footer1 {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
  gap: 40px;
  padding: 100px 0px;
}

.ph {
  color: white;
  font-size: medium;
}

.lh {
  line-height: 5px;
}
